@use "../mixins" as *;

section {
  &.feature {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 64px 28px 90px;

    @include media-breakpoint-up(lg) {
      row-gap: 50px;
      padding: 64px 0 74px;
      min-height: 695px;
    }

    &.light {
      background-color: var(--dfg-light-grey);
      @include standard-shadow;
    }

    &.white {
      position: relative;
      overflow: hidden;

      & > .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
      }
    }

    & > header {
      width: 100%;
      max-width: 1096px;
      display: flex;
      flex-flow: row;
      column-gap: 30px;
      align-items: center;
      align-content: center;
      justify-content: flex-start;

      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
        height: 72px;
      }

      & > img {
        width: 48px;
        height: 48px;

        @include media-breakpoint-up(lg) {
          width: 72px;
          height: 72px;
        }
      }

      & > h2 {
        @include section-title;
      }
    }

    & > .content {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: center;
      justify-content: center;
      width: 100%;
      max-width: 1096px;
      gap: 25px;

      & > .left,
      & > .right {
        width: 100%;

        @include media-breakpoint-up(lg) {
          width: 535px;
        }
      }

      & > .left {
        p,
        span,
        a,
        li {
          @include standard-text;
        }

        strong {
          font-weight: 700;
        }

        ul,
        li {
          padding: 0;
        }

        li {
          margin-left: 8px;
        }

        ul {
          ul {
            margin: 10px 0 0 10px;
            list-style: disc;
          }
        }

        ul {
          margin: 10px 0 0 10px;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          @include media-breakpoint-up(md) {
            margin: 20px 0 0 20px;

            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
        }
      }

      & > .right {
        &.placeholder {
          background-color: var(--white);
          height: 300px;
          display: flex;
          flex-flow: column;
          align-content: center;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          filter: drop-shadow(20px 20px 60px rgba(0, 0, 0, 0.1));
        }
      }
    }
  }
}

#mfa {
  & > .bg {
    top: -34px;
    left: -880px;
  }
}

#provisioning {
  & > .bg {
    transform: rotateZ(180deg);
    top: 138px;
    left: 1329px;
  }
}

#web3 {
  & > .bg {
    top: 139px;
    left: 1053px;
  }
}

#enterprise {
  & > .bg {
    top: -39px;
    left: -873px;
  }
}
