:root {
  --dfg-blue: #0c8ce0;
  --separator-stroke: #c4c4c4;
  --dfg-light-grey: #f9f9f9;
  --dfg-blue-grey: #899ca8;
  --dfg-teal: #10efef;
  --white: #fff;
  --black: #000;
  --dfg-gragient: linear-gradient(180deg, #2accff 0%, #0071d4 100%);
}
