@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Bold.woff") format("woff"),
    url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Regular.woff") format("woff"),
    url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Light.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Light.woff") format("woff"),
    url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
}
