@use "../mixins" as *;

body {
  & > nav {
    height: 64px;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--white);
    z-index: 10;
    box-sizing: border-box;
    padding: 0 28px;

    @include standard-shadow;

    @include media-breakpoint-up(lg) {
      height: 128px;
    }

    & > ul {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      padding: 0;
      margin: 0;
      height: 100%;
      align-content: center;
      align-items: center;
      justify-content: flex-start;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }

      @include media-breakpoint-up(lg) {
        justify-content: center;
        column-gap: 32px;
      }

      & > li {
        display: block;
        user-select: none;

        &.logo {
          width: 80px;
          height: 32px;

          @include media-breakpoint-up(lg) {
            width: 160px;
            height: 64px;
          }
          & > a {
            display: flex;
            width: 100%;
            height: 100%;
          }
        }

        & > a {
          @include standard-text;

          text-decoration: none;
          cursor: pointer;

          & > .github {
            & > img {
              width: 24px;
              height: 24px;
            }
          }
        }

        &.link {
          height: 37px;
          box-sizing: border-box;
          padding: 0 20px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          align-content: center;
          justify-content: center;
        }

        &.link,
        &.github-link {
          @include media-breakpoint-down(lg) {
            display: none;
          }
        }

        &#features-desktop {
          & > span {
            @include standard-text;

            text-decoration: none;
            cursor: pointer;
          }
        }

        &#hamburger {
          margin-left: auto;

          @include media-breakpoint-up(lg) {
            display: none;
          }

          button {
            height: 24px;
            width: 24px;
            border: 0 solid transparent;
            padding: 0;
            margin: 0;
            background-color: transparent;

            @include media-breakpoint-up(lg) {
              height: 48px;
              width: 48px;
            }

            & > img {
              width: inherit;
              height: inherit;
            }
          }
        }
      }
    }
  }
}

#mobile-nav {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 20;
  box-sizing: border-box;
  padding-bottom: 30px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  &.hidden {
    display: none;
  }

  & > .top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 28px;
    height: 64px;

    & > img {
      width: 80px;
      height: 32px;
    }

    & > #mobile-nav-close {
      padding: 0;
      margin: 0;
      margin-left: auto;
      display: flex;
      flex-flow: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 0 solid transparent;
      width: 24px;
      height: 24px;
      & > img,
      & > svg {
        width: inherit;
        height: inherit;
      }
    }
  }

  & > .bottom {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 32px;
    & > * {
      grid-column: 1;
    }
    & > .items {
      display: flex;
      row-gap: 10px;
      flex-flow: column;

      .item {
        cursor: pointer;
        height: 37px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-left: 20px;
        & > span {
          @include standard-text;
          font-size: 18px;
        }
      }
      & > a {
        text-decoration: none;
      }
      #features-expand-control {
        border-left: 2px solid transparent;
        &.active {
          border-left-color: var(--dfg-blue);
        }
      }
      #features-expand {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 37px;
        row-gap: 10px;
        &.hidden {
          display: none;
        }
        & > .feature {
          width: 100%;
          height: 100%;
          padding-left: 50px;
        }
      }
    }
    & > .socials {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      column-gap: 10px;
      margin: 0;
      padding: 0;
      margin-top: 40px;

      & > li {
        width: 24px;
        height: 24px;

        & > a {
          width: 48px;
          height: 48px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
