@use "../mixins" as *;

#source {
  width: 100%;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-down(lg) {
    box-sizing: border-box;
    padding: 60px 28px 80px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 84px;
    padding-bottom: 100px;
  }

  & > .bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 1000px;
    height: 100%;

    @include media-breakpoint-down(lg) {
      &.lines {
        opacity: 0.8;
        left: -100px;
        bottom: -18%;
      }

      &.circuits {
        opacity: 0.3;
        left: -20%;
        bottom: -30%;
      }
    }

    @include media-breakpoint-up(lg) {
      bottom: -230px;
    }
  }

  & > .content {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > .built {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      border-radius: 10px;
      height: 32px;
      width: 148px;
      margin-bottom: 24px;
      margin-top: 20px;

      @include media-breakpoint-up(lg) {
        height: 64px;
        width: 300px;
        margin-bottom: 50px;
      }

      img {
        height: 32px;
        width: 218px;
      }
    }

    & > p {
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      width: 100%;

      @include media-breakpoint-up(lg) {
        max-width: 845px;
        font-size: 20px;
        line-height: 30px;
      }

      & > strong {
        font-weight: 700;
      }
    }

    & > video {
      background-color: var(--white);
      filter: drop-shadow(20px 20px 60px rgba(0, 0, 0, 0.1));
      border-radius: 25px;
      width: 100%;
      aspect-ratio: 16/9;

      @include media-breakpoint-up(lg) {
        width: 1096px;
        height: 607px;
      }
    }

    & > .github-link {
      text-decoration: none;
      & > .github {
        column-gap: 20px;
        height: 62px;
        padding: 0 24px;
        margin-bottom: 50px;

        @include media-breakpoint-up(lg) {
          height: 115px;
          padding: 0 48px;
          margin-bottom: 111px;
        }

        span {
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;

          @include media-breakpoint-up(lg) {
            font-size: 34px;
            line-height: 51px;
          }
        }

        img {
          width: 24px;
          height: 24px;

          @include media-breakpoint-up(lg) {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    & > .header {
      position: relative;

      & > p,
      & > span {
        @include page-title;

        text-align: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 20px;

        & > .blue,
        & > strong {
          color: var(--dfg-blue);
          font-weight: 700;
        }

        & > .break {
          display: block;
        }
      }
    }
  }
}
