<footer>
  <img class="logo" src="/images/svg/logo_white.svg" alt="logo" />
  <div class="links">
    {{ range .Site.Data.footer.columns }}
    <div class="col">
      <p>{{.title}}</p>
      <ul class="company">
        {{ range .links }}
        <li>
          <a href="{{.link}}" target="_{{.target}}" rel="noreferrer">{{.text}}</a>
        </li>
        {{end}}
      </ul>
    </div>
    {{end}}
  </div>
  <p class="copyright">
    {{ $options := dict "display" "inline" }}
    {{ .Site.Data.footer.copyright | .Page.RenderString $options }}
  </p>
  <div class="bg blue"></div>
  <img class="bg circuits" src="/images/svg/bg_circuits.svg" alt="circuits" />
  <img class="bg lines" src="/images/svg/bg_lines.svg" alt="lines" />
</footer>
