<footer>
  <img class="logo" src="/images/svg/logo_white.svg" alt="logo" />
  <div class="links">
    <div class="col">
      <p>Company</p>
      <ul class="company">
        <li>
          <a href="https://teonite.com/about" target="_blank">About Us</a>
        </li>
        <li>
          <a href="https://teonite.com/contact" target="_blank">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <p>Community</p>
      <ul class="community">
        <li>
          <a href="https://github.com/DefGuard/defguard" target="_blank">GitHub</a>
        </li>
        <li>
          <a href="https://teonite.com/blog/" target="_blank">Blog</a>
        </li>
        <li>
          <a href="https://defguard.slack.com/" target="_blank">Slack</a>
        </li>
        <li>
          <a href=" https://reddit.com/r/defguard" target="_blank">Reddit</a>
        </li>
        <li>
          <a href="https://twitter.com/defguard_net" target="_blank">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright">
    © 2022
    <a href="https://teonite.com/" target="_blank">teonite</a> services sp.
    z .o .o
  </p>
  <div class="bg blue"></div>
  <img class="bg circuits" src="/images/svg/bg_circuits.svg" alt="circuits" />
  <img class="bg lines" src="/images/svg/bg_lines.svg" alt="lines" />
</footer>