<ul id="floating-socials">
  <li>
    <a href="https://github.com/defguard/defguard/" target="_blank">
      <img src="/images/svg/github_black.svg" alt="github icon" />
    </a>
  </li>
  <li>
    <a href="https://twitter.com/defguard_net" target="_blank">
      <img src="/images/svg/twitter_black.svg" alt="twitter icon" />
    </a>
  </li>
  <li>
    <a href="https://defguard.slack.com/" target="_blank">
      <img src="/images/svg/slack_black.svg" alt="slack icon" />
    </a>
  </li>
  <li>
    <a href="https://www.reddit.com/r/defguard" target="_blank">
      <img src="/images/svg/reddit_black.svg" alt="reddit icon" />
    </a>
  </li>
</ul>